services:
  app:
    build: .
    container_name: coran-building-app
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./recordings:/app/recordings
      - ./quran_pages:/app/quran_pages
      - ./memory_images:/app/memory_images
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

  db:
    image: postgres:15-alpine
    container_name: coran-building-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
